/CORBA/nbproject/private/
/ExemploJPlay/nbproject/private/
/GeoCataloguing/nbproject/private/
/LetsTalk/nbproject/private/
/Reservas/nbproject/private/
/TCC00166/nbproject/private/
/TCC00173/nbproject/private/
/TCC00174/nbproject/private/
/TCC00175/nbproject/private/
/Temporizador/nbproject/private/
/TIC10086/nbproject/private/
/TIC10086/build/
/URI/nbproject/private/
/URI/build/
/dataset_server/nbproject/private/
/dataset_server/build/
/dataset_server/dist/
/biblioteca/nbproject/private/